@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    counter-reset: difference;
}
  
.item h6::before {
    counter-increment: difference;
    content: "0" counter(difference);
    text-align: center;
    display: inline-block;
    width: 45px;
    height: 30px;
    border-radius: 999px;
    margin-right: .5rem;
    background-color: hsl(12, 88%, 59%);
    color : white;
}

.glide__track{
    overflow: visible;
}

.glide__slides{
    overflow: visible;
}
  